#navbar .display-flex {
    flex-direction: column;
}
#navbar .display-flex ul {
    flex-direction: column; 
}

#navbar .social i {
    margin-bottom: 1.6rem;
}
#showcase {
    flex-direction: column;  
}


#home-info {
    flex-direction: column;
}

#features {
    flex-direction: column;
    grid-template-columns: 1fr;
}

/* about */


#about-info .info-container {
    flex-direction: column;
    grid-template-columns: 1fr;
}

#about-info  img  {
    margin-top: 2rem;
}


#about-info .info-container {
    grid-template-columns: 1fr;
    text-align: center;
}

#testimonials .testimonial {
    flex-direction: column;
    text-align: center;
}

#testimonials .testimonial img {
    margin-left: 40%;
    margin-bottom: 2rem;
}

/* contact */
#contact-info .info-container {
    flex-direction: column;
    grid-template-columns: 1fr;

}

